<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hong.mapper.OrderMapper">

    <insert id="insertOne" parameterType="com.hong.entity.Order">
        INSERT INTO t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="messageId != null">
                message_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
               #{name},
            </if>
            <if test="messageId != null">
                #{messageId},
            </if>
        </trim>
    </insert>

</mapper>